.a1 {
    position: relative;
    width: 1000px;
    height: 2000px;
    top: 0px;
    border: 3px solid royalblue;
}

.a2 {
    position: fixed;
    top: 9px;
    width: 100px;
    height: 50px;
    border: 3px solid #73ad21;
}

.a3 {
    position: fixed;
    bottom: 0px;
    width: 100px;
    height: 50px;
    border: 3px solid #73ad21;
}

.a4 {
    position: absolute;
    width: 700px;
    height: 520px;
    border: 3px solid red;
    left: 0px;
    top: 55px;
}

.a5 {
    position: -webkit-sticky;
    position: sticky;
    width: 500px;
    height: 200px;
    border: 3px solid rgb(33, 85, 100);
    left: 150px;
    top: 250px;
}

.a6 {
    position: absolute;
    width: 300px;
    height: 100px;
    top: 230px;
    left: 160px;
    border: 3px solid rgb(77, 92, 97);
}

@media only screen and (max-width: 780px) {
    .a1 {
        width: 500px;
    }
    .a2 {
        width: 50px;
    }
    .a3 {
        width: 50px;
    }
    .a4 {
        width: 350px;
    }
    .a5 {
        width: 250px;
    }
}