li {
    height: 30px;
    border: 3px solid rgb(114, 158, 96);
    margin: 3px;
    list-style: none;
    text-align: center;
}

li:nth-child(even),
span:nth-child(even) {
    background-color: rgb(101, 101, 224);
}

li:nth-child(odd),
span:nth-child(odd) {
    background-color: rgb(252, 86, 108);
}

@media only screen and (max-width: 600px) and (max-height:300px) {
    li {
        border: 3px solid rgb(37, 201, 152);
    }
}

.le {
    background-color: rgb(170, 127, 127);
}

.chan {
    background-color: rgb(92, 92, 241);
}

span {
    display: inline-block;
    height: 30px;
    width: 50px;
    border: 3px solid rgb(114, 158, 96);
    margin: 3px;
    list-style: none;
    text-align: center;
}